@model syncfusion_payc.Models.CENTROS_COSTOS

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CENTROS_COSTOS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CECO_PSL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CECO_PSL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DESCRIPCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRIPCION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ESTADOS_CECO.DESCRIPCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ESTADOS_CECO.DESCRIPCION)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.COD_CECO }) |
    @Html.ActionLink("Back to List", "Index")
</p>
