@model syncfusion_payc.Models.CONTRATO_PROYECTO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CONTRATO_PROYECTO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CONTRATOS.DESCRIPCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CONTRATOS.DESCRIPCION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FORMAS_PAGO.DESCRIPCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FORMAS_PAGO.DESCRIPCION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PROYECTOS.DESCRIPCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PROYECTOS.DESCRIPCION)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.COD_CONTRATO_PROYECTO }) |
    @Html.ActionLink("Back to List", "Index")
</p>
