@model syncfusion_payc.Models.CONTRATO_ROL_CARGO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CONTRATO_ROL_CARGO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CARGOS.DESCRIPCION_CARGO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CARGOS.DESCRIPCION_CARGO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CONTRATOS_ROL.OBSERVACIONES)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CONTRATOS_ROL.OBSERVACIONES)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.COD_CONTRATO_ROL_CARGO }) |
    @Html.ActionLink("Back to List", "Index")
</p>
