@model syncfusion_payc.Models.CLIENTES

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CLIENTES</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DESCRIPCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRIPCION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NIT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NIT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DIRECCION_CLIENTE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIRECCION_CLIENTE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DIRECCION_FACTURACION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIRECCION_FACTURACION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CONTACTO_CONTRATANTE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CONTACTO_CONTRATANTE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CONTACTO_FACTURACION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CONTACTO_FACTURACION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TELEFONO_CLIENTE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TELEFONO_CLIENTE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TELEFONO_FACTURACION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TELEFONO_FACTURACION)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.COD_CLIENTE }) |
    @Html.ActionLink("Back to List", "Index")
</p>
