@model syncfusion_payc.Models.VISTA_DETALLE_ADJUNTOS_PERS

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>VISTA_DETALLE_ADJUNTOS_PERS</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.COD_CONTRATO_PROYECTO)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.COD_CONTRATO_PROYECTO)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.COD_ROL)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.COD_ROL)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.COD_COLABORADOR)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.COD_COLABORADOR)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.COD_FORMAS_PAGO_FECHAS)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.COD_FORMAS_PAGO_FECHAS)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.FECHA_REGISTRO)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FECHA_REGISTRO)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.USUARIO)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.USUARIO)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.COD_ESTADO_FACTURA)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.COD_ESTADO_FACTURA)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.COD_CAUSA_ESTADO)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.COD_CAUSA_ESTADO)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.OBSERVACIONES)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.OBSERVACIONES)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.COD_FACTURA)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.COD_FACTURA)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.COD_ESTADO_DETALLE)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.COD_ESTADO_DETALLE)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.COD_CONCEPTO_PSL)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.COD_CONCEPTO_PSL)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.COD_GRUPO_FACTURA)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.COD_GRUPO_FACTURA)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.HORAS_ED)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.HORAS_ED)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.HORAS_EN)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.HORAS_EN)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.HORAS_FD)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.HORAS_FD)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.HORAS_FN)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.HORAS_FN)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ADICIONES)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ADICIONES)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.HORAS_AUSENCIA)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.HORAS_AUSENCIA)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DESCUENTO_AUSENCIA)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DESCUENTO_AUSENCIA)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.FECHA_INI)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FECHA_INI)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.FECHA_FIN)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FECHA_FIN)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.VALOR_DIAS_LAB)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.VALOR_DIAS_LAB)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.VALOR_SIN_IMPUESTOS)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.VALOR_SIN_IMPUESTOS)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NOMBRES)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NOMBRES)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.APELLIDOS)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.APELLIDOS)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CEDULA)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CEDULA)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.FECHA_FORMA_PAGO)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FECHA_FORMA_PAGO)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NOMBRE_PROYECTO)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NOMBRE_PROYECTO)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CENTRO_COSTOS)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CENTRO_COSTOS)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NOMBRE_ROL)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NOMBRE_ROL)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.FECHA_INICIO_EJECUCION)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FECHA_INICIO_EJECUCION)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.FECHA_FIN_EJECUCION)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FECHA_FIN_EJECUCION)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
