@using Syncfusion.JavaScript

@using System.Collections.Generic

@using System.Linq







@{

    /**/



    ViewBag.Title = "";

}



@if (User.Identity.IsAuthenticated)

{

    <h4>DESCRIPCION PROYECTO: @Html.ViewBag.DESCRIPCION_PROYECTO EDIFICIO NUEVA SEDE CORPORATIVA CINECOLOMBIA - PERIODO:@Html.ViewBag.PERIODO_FACTURAR</h4>







    <div class="row">





        <div class="col-md-12">

            <input type="button" value="SELECIONE MES ANTERIOR" class="btn btn-purple" onclick="redireccionar_index_facturas()" />

        </div>



        <div class="col-md-12">





            <div class="col-md-6">

                <fieldset>

                    <H4>ITEMS MES ANTERIOR POR AGREGAR</H4>



                    <div class="col-md-12">

                        <ol id="personal" class="col-md-12">













                            <li id="test">JORGE</li>

                            <li id="test">JAIME</li>

                            <li id="test">ANDRES</li>

                            <li id="test">DIEGO</li>

                            <li id="test">JORGE</li>

                            <li id="test">JAIME</li>

                            <li id="test">ANDRES</li>

                            <li id="test">DIEGO</li>

                            <li id="test">JORGE</li>

                            <li id="test">JAIME</li>

                            <li id="test">ANDRES</li>

                            <li id="test">DIEGO</li>

                            <li id="test">JORGE</li>

                            <li id="test">JAIME</li>

                            <li id="test">ANDRES</li>

                            <li id="test">DIEGO</li>

                        </ol>

                    </div>

                </fieldset>

                <div class="row">

                    <div class="col-md-12">

                        <table class="col-md-12">

                            <tbody>

                                <tr class="fila_total">

                                    <th class="titulo_total"><b>TOTAL FACTURA</b></th>

                                    <th class="total"><span class="valor_personas">@(ViewBag.TOTAL_FACTURA_PERS)</span></th>

                                </tr>

                            </tbody>

                        </table>

                    </div>

                </div>

                <input type="hidden" id="h_vlr_sin_impu" value=""> @**@

            </div>

            <div class="col-md-6">

                <fieldset>



                    <h4>ITEMS A FACTUTAR</h4>

                    <div class="col-md-12">

                        <ol id="items" class="col-md-12">





                            <li id="test">HONORARIOS</li>

                            <li id="test">HONORARIOS</li>



                        </ol>

                    </div>

                </fieldset>

                <div class="row">

                    <div class="col-md-12">

                        <table class="col-md-12">

                            <tbody>

                                <tr class="fila_total">

                                    <th class="titulo_total"><b>TOTAL FACTURA</b></th>

                                    @*<th class="total"><span class="valor_item">@(ViewBag.TOTAL_FACTURA_ITEM_)</span></th>*@

                                    @*<th class="total"><span class="valor">@(ViewBag.TOTAL)</span></th>*@

                                    <th class="total"><span class="valor_personas">@(ViewBag.TOTAL_FACTURA_PERS)</span></th>

                                </tr>

                            </tbody>

                        </table>

                    </div>

                </div>

                <input type="hidden" id="h_vlr_sin_impu" value="">  @**@

            </div>

        </div>



        <!--FILA BOTONES-->

        <div class="row">

            <div class="col-md-6">

                <input type="button" value="Validar" class="btn btn-purple" onclick="validar_factura()" />

                <input type="button" value="Volver" class="btn btn-purple" onclick="redireccionar_index_facturas()" />

            </div>

        </div>

    </div>









}



<style type="text/css">



    /*ol {*/

    ol {
        list-style-type: none;
        width: 550px;
        height: 500px auto;
        margin: 5px;
    }



    /*#test li {

                    list-style-type: none;

                    width: 0 auto;

                    height: 0 auto;

                    border: 0.5px solid grey;

                    margin: 1px;

                    text-align: center;

                }*/



    #personal li {
        background-color: silver;
        padding: 5px;
        border-radius: 5px;
        margin: 3px;
    }



    #items li {
        background-color: white;
        padding: 5px;
        border-radius: 5px;
        border: 3px solid #ccc;
        margin: 3px;
    }



    fieldset {
        height: 0 auto;
        width: 550px;
        padding: 0 10px;
        border: 3px solid #ccc;
        margin: 10px;
        border-radius: 10px;
    }
</style>

<script>

    $(document).ready(function () {

        $("#personal").sortable({ connectWith: "#items" });

        $("#items").sortable({ connectWith: "#personal" });



    });









</script>