@using Syncfusion.JavaScript
@using System.Collections.Generic
@using System.Linq


@model IEnumerable<syncfusion_payc.Models.FACTURAS>

@{
    ViewBag.Title = "";

    syncfusion_payc.Models.test_payc_contabilidadEntities db = new syncfusion_payc.Models.test_payc_contabilidadEntities();
    long id = (long)ViewBag.COD_FACTURA;
    long cp = (long)ViewBag.COD_CONTRATO_PROYECTO;
}

@if (User.Identity.IsAuthenticated)
{
    <h4>DESCRIPCION PROYECTO: @Html.ViewBag.DESCRIPCION_PROYECTO - PERIODO:@Html.ViewBag.PERIODO_FACTURAR</h4>

    <!--FILA CONTENEDORES DRAG AND DROP-->
    <div class="row">
        <!--CONTENEDOR FACTURAS ANTERIORES -->
        <div class="col-md-5 contenedor_facturas_ant">

            <H4>ITEMS MES ANTERIOR POR AGREGAR</H4>

            <label>MESES ANTERIORES</label>
            @*LOOP GENERACIÓN DROPDOWN FECHAS FACTURA*@
            <div class="dropdown">

                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    SELECCIONAR FECHA
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    @foreach (var c in db.DETALLE_FACTURA_ITEMPERS.Where(u => u.COD_CONTRATO_PROYECTO == cp && u.COD_FACTURA != null && u.COD_FACTURA != id).Select(x => new { x.COD_FORMAS_PAGO_FECHAS, x.PERIODO_FACTURA }).Distinct().ToList())
                    {

                        <button class="dropdown-item" onclick="cambio_mes(@c.COD_FORMAS_PAGO_FECHAS)">@c.PERIODO_FACTURA</button>
                    }
                </div>
            </div>
            @*CONTENEDOR TABLA DRABABLE FACTURAS ANT*@
            <div class="contenedor_tabla_dragable">
                @*Encabezado*@
                <table>
                    <thead>
                        <tr>
                            <th>FACTURA</th>
                            <th>PROYECTO</th>
                            <th>VALOR</th>
                        </tr>
                    </thead>
                    <tbody id="personal">
                        @foreach (var a in ViewBag.datasource2)
                        {
                            string COD_FACTURA = a.COD_FACTURA.ToString();
                            string COD_CONTRATO_PROYECTO = a.COD_CONTRATO_PROYECTO.ToString();
                            string VALOR_SIN_IMPUESTOS = a.VALOR_SIN_IMPUESTOS.ToString();
                            string COD_FORMAS_PAGO_FECHA = a.COD_FORMAS_PAGO_FECHAS.ToString();
                            <tr class="s_panel facturas_ant FACTURA_@COD_FACTURA COD_FECHA_@COD_FORMAS_PAGO_FECHA" tipo="@a.TIPO"  factura_ant="@a.COD_FACTURA" factura_actual="@(((long) ViewBag.COD_FACTURA).ToString())" cod_detalle="@a.CAD_DETALLE_FACTURA">
                                <td id="personal">@a.COD_FACTURA</td>
                                <td id="personal">@a.PERIODO_FACTURA.ToString("dd/MM/yyyy")</td>
                                <td id="personal">@a.VALOR_SIN_IMPUESTOS</td>

                            </tr>
                        }
                    </tbody>

                </table>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <table class="col-md-12">
                        <tbody>
                            <tr class="fila_total">
                                <th class="titulo_total"><b>Total personal:</b></th>
                                <th class="total"><span class="valor_personas">@(ViewBag.TOTAL_FACTURA_PERS)</span></th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <input type="hidden" id="h_vlr_sin_impu" value="">  @**@
        </div>


        <!--CONTENEDOR FACTURA ACTUAL-->
        <div class="col-md-5 contenedor_facturas">
          
                <h4>ITEMS A FACTUTAR</h4>
                <div class="contenedor_tabla_dragable">

                    <table>
                        <thead>
                            <tr>
                                <th>FACTURA</th>
                                <th>PROYECTO</th>
                                <th>VALOR</th>
                            </tr>
                        </thead>

                        <tbody id="items">
                            @foreach (var b in ViewBag.datasource3)
                            {

                                string COD_FACTURA = b.COD_FACTURA.ToString();
                                string COD_CONTRATO_PROYECTO = b.COD_CONTRATO_PROYECTO.ToString();
                                string VALOR_SIN_IMPUESTOS = b.VALOR_SIN_IMPUESTOS.ToString();

                                <tr class="FACTURA_@COD_FACTURA">
                                    <td>@b.COD_FACTURA</td>
                                    <td class="taskSingleInline" id="task@(b.COD_FACTURA)" data-taskid="@(b.COD_FACTURA)">@b.PERIODO_FACTURA.ToString("dd/MM/yyyy")</td>
                                    <td>@b.VALOR_SIN_IMPUESTOS</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <a class="btn btn=primary" href="@Url.Action("VerificarV","FACTURASControllers")">UPDATE POSITION</a>
                </div>
        

            <div class="row">
                <div class="col-md-12">
                    <table class="col-md-12">
                        <tbody>
                            <tr class="fila_total">
                                <th class="titulo_total"><b>Total ítems:</b></th>
                                @*<th class="total"><span class="valor_item">@(ViewBag.TOTAL_FACTURA_ITEM_)</span></th>*@
                                @*<th class="total"><span class="valor">@(ViewBag.TOTAL)</span></th>*@
                                <th class="total"><span class="valor_items">@(ViewBag.TOTAL_FACTURA_ITEM)</span></th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!--FILA TOTAL-->
    <div class="row">
        <div class="col-md-12">
            <table class="col-md-12">

                <tbody>
                    <tr class="fila_total">
                        <th class="titulo_total"><b>Total</b></th>
                        <th class="total"><span class="valor">@(ViewBag.TOTAL_FACTURA == null ? "" : Html.Raw((String)ViewBag.TOTAL_FACTURA.ToString()).ToString())</span></th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!--FILA BOTONES-->
    <div class="row">
        <div class="col-md-6">
            <input type="button" value="Validar" class="btn btn-purple" onclick="validar_factura()" />
            <input type="button" value="Volver" class="btn btn-purple" onclick="redireccionar_index_facturas()" />
        </div>
    </div>
}

<!--funciones javascript-->
    <script>
        var temp = null;
        $(document).ready(function () {

            $("#personal")//.accordion({collapsible: true,active: false,})
                          .sortable({ connectWith: "#items" });
            //Vuelve los ítems "dragable"
            $("#items").sortable({
               
                connectWith: "#personal"
            });
            //Vuelve los ítems "dragable"
            $("#items").sortable({
                change: function (event, ui) {
                    var tipo = ui.item.attr("tipo");
                    var factura_ant = ui.item.attr("factura_ant");
                    var factura_actual = ui.item.attr("factura_actual");
                    var cod_detalle = ui.item.attr("cod_detalle");
                    var url = "../Actualizar_Factura";

                    var data = JSON.stringify({ TIPO: tipo, FACTURA_ANT: factura_ant, FACTURA_ACTUAL: factura_actual,COD_DETALLE:cod_detalle });
                    
                    $.ajax({
                        type: "POST",
                        url: url,
                        data: data,
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        dataFilter: function (data) { return data; },
                        success: function (data) {
                            
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                           
                        }
                    });
                }
            });
        });
    //Función que se activa cuando se cambia la selecciòn del la lista desplegable de fechas de facturas
    function cambio_mes(sender) {
        
        $(".facturas_ant").hide();
        $(".COD_FECHA_" + sender).show();
    }
</script>