@model syncfusion_payc.Models.PENDIENTES

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PENDIENTES</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.COD_CONTRATO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COD_CONTRATO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ORDEN_SERVICIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ORDEN_SERVICIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CENTRO_COSTOS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CENTRO_COSTOS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHA_INICIO_EJECUCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA_INICIO_EJECUCION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHA_FIN_EJECUCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA_FIN_EJECUCION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TIPO_SERVICIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIPO_SERVICIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DESCRIPCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRIPCION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TIPO_OBRA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIPO_OBRA)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
