@model syncfusion_payc.Models.VISTA_ORDENES_CENTRO_COSTOS

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>VISTA_ORDENES_CENTRO_COSTOS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.COD_CONTRATO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COD_CONTRATO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COD_PROYECTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COD_PROYECTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COD_FORMA_PAGO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COD_FORMA_PAGO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COMPLETA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COMPLETA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MODIFICADO_POR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MODIFICADO_POR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHA_ULTIMA_MODIFICACION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA_ULTIMA_MODIFICACION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CREADO_POR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CREADO_POR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHA_CREACION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA_CREACION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CENTRO_COSTOS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CENTRO_COSTOS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COD_ESTADO_ORDEN_SERVICIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COD_ESTADO_ORDEN_SERVICIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DESCRIPCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRIPCION)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
