<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - PAYC DEMO ARTICULACIÓN CONTABILIDAD</title>
    @*Del theme de Polifonía*@
    <link href="~/Content/bootstrap.csfs" rel="stylesheet" />

    <link href="~/Content/ej/ej.widgets.core.min.css" rel="stylesheet" />
    <link href="~/Content/ej/bootstrap-theme/ej.theme.min.css" rel="stylesheet" />


    @*theme polifonía*@

    @Styles.Render("~/Content/css")

    <link href="~/Content/Site2.css" rel="stylesheet" />
    <link href="~/Content/main2.css" rel="stylesheet" />
    <link href="~/Content/main.css" rel="stylesheet" />


    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    <link href="~/Content/ej/ej.widgets.core.min.css" rel="stylesheet" />
    <link href="~/Content/ej/bootstrap-theme/ej.theme.min.css" rel="stylesheet" />
    <link href="~/Content/ej/bootstrap-theme/ej.web.all.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.11.3.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery-ui-min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.easing-1.3.min.js" type="text/javascript"></script>
    <script src="~/Scripts/ej/ej.web.all.min.js" type="text/javascript"></script>
    <script src="~/Scripts/ej/ej.webform.min.js" type="text/javascript"></script>
    <script src="~/Scripts/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.wizard.js"></script>
    <script src="~/Scripts/jsrender.min.js"></script>
    <script src="~/Scripts/traduccion/ej.culture.es-CO.min.js"></script>
    <script src="~/Scripts/traduccion/ej.localetexts.es-CO.min.js"></script>
    
    <script src="~/Scripts/require.min.js"></script>
</head>
<body>
    <!-- /Loader-->
    <div class="contenedor_loader">
        <span class="e-image"></span>
    </div>
    <!-- /Contenido-General-->
    <div class="contenedor_universal">
        <div id="wrapper">
            <!-- Menu Top -->

            <nav class="menu-top navbar navbar-default navbar-fixed-top">

                <div class="container-fluid" style="padding: 0px 70px;">
                    <div class="logo"><img class="logopayc" src="~/images/logopayc.png" /></div>
                    <div class="navbar-header">
                        <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @Html.Partial("_LoginPartial")
                        <a href="" class="navbar-brand">INTEGRAPP PAYC</a>
                    </div>
                    <div class="navbar-collapse collapse" id="navbar">
                        <ul class="nav navbar-nav navbar-right"></ul>
                    </div><!--/.nav-collapse -->
                </div>
            </nav>
            <!-- /Menu Top -->
            <!-- Sidebar-wrapper  -->
            <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
                <ul class="nav sidebar-nav">
                    <h5 style="font-size:30px;">+</h5>
                    <span class="skype-button bubble" data-contact-id="jaimeparrapayc@outlook.com"></span>
                    <script src="https://swc.cdn.skype.com/sdk/v1/sdk.min.js"></script>
                </ul>
            </nav>

            <!-- /#sidebar-wrapper -->
            <!-- Contenido-General -->
            <div id="page-content-wrapper">
                <div class="container-fluid">
                    <div class="row">

                        <!-- Columna Menu Left -->
                        <div class="col-xs-1 col-lg-1">

                            <div class="menu-left">
                                <button class="alert-open is-closed animated fadeInLeft btn-lg" type="button" data-toggle="offcanvas">
                                    <span class="glyphicon glyphicon-bullhorn beige"></span>
                                </button>
                                @if (Request.IsAuthenticated)
                                {
                                <ul>
                                    <!--COMERCIAL-->
                                    <li class="left-icons icon-entida dropdown-submenu" title="GESTIÓN COMERCIAL">
                                        <ul class="dropdown-menu derecha">
                                            @*<h6>@Html.ActionLink("FLUJO PROYECTOS", "Index", "PROYECTOS")</h6>*@
                                            <h6>@Html.ActionLink("ORDENES DE SERVICIO", "Index", "FlujoProyectos/Index")</h6>
                                            <h6>@Html.ActionLink("PROYECTOS", "Index", "PROYECTOS/Index")</h6>
                                            <h6>@Html.ActionLink("CLIENTES", "Index", "CLIENTES/Index")</h6>
                                            <h6>@Html.ActionLink("CONTRATOS", "Index", "CONTRATOS/Index")</h6>
                                            <h6>@Html.ActionLink("CONTRATOS CONDICIONES", "Index", "CONTRATOS_CONDICIONES/Index")</h6>
                                            <h6>@Html.ActionLink("CONTRATOS ROL", "Index", "CONTRATOS_ROL/Index")</h6>
                                            <h6>@Html.ActionLink("ITEMS CONTRATOS", "Index", "ITEMS_CONTRATO/Index")</h6>
                                            <h6>@Html.ActionLink("FLUJO INGRESOS RRHH", "Index", "FLUJO_INGRESOS_ROL/Index")</h6>
                                            <h6>@Html.ActionLink("FLUJO INGRESOS ITEMS OTROS COSTOS", "Index", "FLUJO_INGRESOS_ITEMS/Index")</h6>
                                            <h6>@Html.ActionLink("TIPOS CONDICIONES", "Index", "TIPO_CONDICION_CONTRACTUAL/Index")</h6>

                                        </ul>
                                    </li>
                                    <!--GESTION HUMANA-->
                                    <li class="left-icons icon-personaj dropdown-submenu" title="GESTIÓN HUMANA">
                                        <ul class="dropdown-menu derecha">
                                            <h6>@Html.ActionLink("ASIGNACIONES PENDIENTES", "Index", "CONTRATO_COLABORADOR/Pendientes")</h6>
                                            <h6>@Html.ActionLink("REGISTRO NOVEDADES", "Index", "REGISTRO_NOVEDADES/Index")</h6>
                                            <h6>@Html.ActionLink("COLABORADORES", "Index", "COLABORADORES/Index")</h6>
                                            <h6>@Html.ActionLink("ALERTA RETIROS", "Retiros", "COLABORADORES")</h6>
                                            <h6>@Html.ActionLink("ASIGNACIONES A PROYECTOS", "Index", "CONTRATO_COLABORADOR/Index")</h6>
                                            <h6>@Html.ActionLink("CARGOS", "Index", "CARGOS/Index")</h6>
                                            <h6>@Html.ActionLink("ROLES", "Index", "ROLES/Index")</h6>
                                            <h6>@Html.ActionLink("TIPOS NOVEDADES", "Index", "TIPOS_NOVEDAD/Index")</h6>
                                        </ul>
                                    </li>
                                    <!--FINANCIERA-->
                                    <li class="left-icons icon-parrill dropdown-submenu" title="GESTIÓN FINANCIERA">
                                        <ul class="dropdown-menu derecha">
                                            <h6>@Html.ActionLink("ORDENES FACTURAS", "index", "FACTURAS/index")</h6>
                                            <h6>@Html.ActionLink("FACTURAS PENDIENTES DE REVISAR", "index", "FlujoProyectos/pendientes_facturar")</h6>
                                            <h6>@Html.ActionLink("REGISTRO ITEMS REEMBOLSABLES", "index", "REGISTRO_ITEMS_OTROS_COSTOS/index")</h6>
                                            <h6>@Html.ActionLink("ITEMS PRESUPUESTALES", "index", "ITEMS/index")</h6>
                                            <h6>@Html.ActionLink("CENTROS DE COSTO", "index", "VISTA_ORDENES_CENTRO_COSTOS/index")</h6>
                                        </ul>
                                    </li>
                                    <!--ADMINSTRACIÓN USUARIOS-->
                                    <li class="left-icons icon-general dropdown-submenu">

                                        <ul class="dropdown-menu derecha">
                                            <h6>@Html.ActionLink("REGISTRAR USUARIO", "Register", "Account")</h6>
                                        </ul>
                                    </li>
                                </ul>
                                }
                            </div>
                        </div>
                        <!-- /Columna Menu Left -->
                        <!-- Columna Contenido -->
                        <div class="col-xs-11 col-lg-11 contenedor_tablas">

                            @RenderBody()
                            <hr />


                        </div>
                    </div>
                    <!-- /Columna Contenido -->
                </div>
            </div>
        </div>
    </div>
    <!-- /Footer-->
    <footer>
        <div class="container body-content">
            <hr />
            <p>&copy; @DateTime.Now.Year - PAYC SAS</p>
        </div>

    </footer>



    @RenderSection("scripts", required: false)


    @(Html.EJ().ScriptManager())

    <script type="text/javascript">
                //Traducción validación

                                        /*
                                        $(document).ready(function () {
                                            var globallocale = "es-CO";
                                            var widgetsall = ej.widget.registeredWidgets;
                                            for (var wd in widgetsall) {
                                                //this will set locale property to the `ru-RU` if locale property is available in defaults.
                                                if (ej.getObject("proto.defaults.locale", widgetsall[wd]))
                                                    ej.createObject("locale", globallocale, widgetsall[wd].proto.defaults);
                                            }
                                        });*/
    </script>
    <script src="~/Scripts/main.js" type="text/javascript"></script>
</body>
</html>
