@model syncfusion_payc.Models.ACUERDOS_PAGO_ENTREGAB

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>ACUERDOS_PAGO_ENTREGAB</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.UserName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DESCRIPCION)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DESCRIPCION)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.FECHA_REGISTRO)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FECHA_REGISTRO)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.FECHA_ACUERDO)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FECHA_ACUERDO)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.APROBADO)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.APROBADO)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.COMENTARIOS)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.COMENTARIOS)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.VALOR)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.VALOR)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CARTERA.UserName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CARTERA.UserName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ESTADOS_ACUER_PAG_ENTREG.DESCRIPCION)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ESTADOS_ACUER_PAG_ENTREG.DESCRIPCION)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TIPOS_ACUERDO.DESRIPCION)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TIPOS_ACUERDO.DESRIPCION)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.COD_ACUERDO_PAGO }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
